.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0
	rgba(0,0,0,0.1);
	overflow: hidden;
  background: #3FAF82;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	cursor: pointer;
}

.center {
	height: 60px;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	outline: 0;
}

.center div {
	width: 100px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	transition: 0.8s ease;
	box-shadow: 0 2px 10px #33333350;
}

.no-animation > div {
	animation: none !important;
}

.center.active > div:nth-child(2) {
	background: #3FAF82;
	box-shadow: none;
	width: 0px;
	transition: 1s;	
}

.center > div:nth-child(1) { 
	animation: animate-out-1 0.8s ease-in-out;
}

.center.active > div:nth-child(1) {
	animation: animate-1 0.8s ease-in-out;
	transform: translateY(25px) rotate(45deg);
}

.center > div:nth-child(3) {
	animation: animate-out-3 0.8s ease-in-out;
}

.center.active > div:nth-child(3) {
	animation: animate-3 0.8s ease-in-out;
	transform: translateY(-25px) rotate(135deg);
}

@keyframes animate-1 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(25px) rotate(45deg);
	}
}

@keyframes animate-3 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(-25px) rotate(135deg);
	}
}

@keyframes animate-out-3 {
  0% {
    transform: translateY(-25px) rotate(135deg);
  }
  50% {
    transform: translateY(-25px);
  }
	100% {
		transform: translateY(0);
	}
}

@keyframes animate-out-1 {
  0% {
    transform: translateY(25px) rotate(45deg);
  }
  50% {
    transform: translateY(25px);
  }
	100% {
		transform: translateY(0);
	}
}
